/* REDES SOCIALES HEADER */
.red-social{
    float: right;
    /* background-color: white; */
}
.red-social li{
    float: left;
    margin: 5px 5px;
}
.red-social a{
    font-size: 18px;
    border: none;
}
.red-social>li>input{
    
}

/* NOSOTROS*/
#box-nosotros p{
    
margin-left: 14px;
}

/* CONTACT */

.dropdown #button-reason{
    font-size: 13px;
    width: 100%;
    text-align: left;
    padding: 7px;
    margin-bottom: 10px;
}

.dropdown span{
    float: right;
    margin-top: 7px;
}

#combo-reason{
    width: 100%;
    margin-top: -9px;
}

#combo-reason li{
    width: 100%;
}

#combo-reason a{
    font-size: 13px;
}

#bSendComent{
    margin-top: -2px;
    padding: 6px 20px;
}

/* SUBSCRIPCION */

.dropdown #button-distrito, .dropdown #button-dia, .dropdown #button-mes, .dropdown #button-ayo{
    font-size: 13px;
    text-align: left;
    padding: 7px;
    margin-bottom: 10px;
}

.cumplefild .dropdown{
    margin-right: 30px;
}

#combo-distrito, #combo-ayo, #combo-mes, #combo-dia{
    
margin-top: -10px;
    
overflow: scroll;
    
height: 113px;
    
overflow-x: hidden;
    
z-index: 900;
}