/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/11/2015, 06:29:49 PM
    Author     : Jesus Zeballos
*/
/* box resize*/
@media (min-width: 768px) {
    .boxwrap {
        /* width: 768px; */
    }
    .container {
        /* width: 750px; */
    }
}

@media (min-width: 992px) {
    .boxwrap {
        /* width: 992px; */
    }
    .container {
        /* width: 970px; */
    }
}

@media (min-width: 1250px) {

    .seq .seq-model{
        width: 95%;
    }
}

@media (max-width: 768px) {
    .boxwrap {
        width: auto;
    }    
}

/* box resize close */

@media (min-width: 992px) and (max-width: 1199px) {
    .nav li a {
        font-size: 16px;
        padding: 10px 30px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .processto-checkout li:last-child {
        text-align: center;
    }
    .nav li a {
        font-size: 14px;
        padding: 10px 17px;
    }

}

@media (max-width: 1080px) {
    .redes-footer{
        float: left !important;
    }
    /* NOSOTROS */
    #box-historiaMax{
        max-width: 53%;
        padding: 35px 25px 25px 25px;
        left: 5%;
        top: 6%;
        text-align: justify;
        color: #555;
    }
    .box-historia p.paezTitle{
        padding-bottom: 15px;
    }
    .box-historia p.paezTitle>img{
        width: 175px;
    }
    .box-historia p.pTitle{
        font-size: 26px;
        font-weight: bold;
        letter-spacing: 3px;
        padding: 10px 0;
    }
    .box-historia p.pTexto{
        font-size: 13px;
    }
    .box-partepaez{
        padding: 30px 25px 20px 25px;
    } 
    .box-partepaez .pTitle{
        font-size: 24px !important;
    }
    .box-partepaez .pTexto{
        font-size: 13px !important;line-height: 18px !important;
    }
    .box-partepaez .button-parte{
        font-size: 13px;
        padding: 6px 15px;
    }
    #filGroupLast {
        margin: 30px 0 30px;
        height: 26px;
    }
    #button-postular{
        margin-bottom: 0;
    }
    #updateDatos label{
        font-size: 13px;
    }

}
@media (max-width: 991px) {

    /* leftbar & rightbar */
    .leftbar {
        float: none !important;
    }
    .rightbar {
        float: none !important;
    }
    .seq .seq-next, .seq .seq-prev{        
        width: 30px;        
        height: 50px;
    }
    .footer li{
        color:white;
        padding: 2px 15px;
        font-size: 13px;
    }
    .redes-footer>li {
        margin-right: 5px;
        padding: 0px;
    }
    .redes-footer>li>a {
        width: 50px;
        height: 50px;
    }
    /* NOSOTROS */
    #box-historiaMax{
        max-width: 60% !important;
        padding: 20px 20px 15px 20px;
        left: 5%;
        top: 6%;
        text-align: justify;
        color: #555;
    }
    .box-historia p.paezTitle{
        padding-bottom: 5px;
    }
    .box-historia p.paezTitle>img{
        width: 150px;
    }
    .box-historia p.pTitle{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 5px 0;
        margin-bottom: 5px;
    }
    .box-historia p.pTexto{
        font-size: 11px;
        margin-bottom: 5px;
        line-height: 18px;
    }
           
}
@media (max-width: 800px) {
    .footer li{
        color:white;
        padding: 2px 5px;
        font-size: 13px;
    }
    .redes-footer>li {
        margin-right: 5px;
        padding: 0px;
    }
    .redes-footer>li>a {
        width: 45px;
        height: 44px;
    }
}
@media (max-width: 767px) {
    /* Header top */
    .nav-bg {
        padding-top: 0px;
        padding-bottom: 5px;
    }
    .welcome {
        text-align: center;
    }
    .topnav {
        float: left;
        text-align: center;
        width: 100%;
        padding-bottom: 10px;
    }
    .topnav li {
        float: none;
    }
    /* main Manu style */
    .nav-shadow {
        padding-bottom: 17px;
        margin-bottom: -17px;
    }
    .navbar-toggle {
        float: left;
        margin: 10px 15px;
        background-color: #0a0810;
        border: none;
    }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #333;
        outline: none;
    }
    .nav {
        float: none;
        padding-bottom: 20px;
    }
    .nav > li {
        display: block;
        position: relative;
        float: none;
    }
    .nav > li > a {
        display: block;
        position: relative;
        margin-top: 1px;
        background: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        padding: 8px 8px;
    }
    .navbar-nav > li > a {
        line-height: 20px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .nav .dropdown-menu {
        position: relative;
        border: none;
        padding: 10px 30px 10px 30px;
        margin-bottom: 15px;
    }
    .nav .dropdown-menu li a {
        background-position: -10px 17px;
        padding: 10px;
        border-bottom: 1px solid #000;
        font-size: 14px;
        display: block;
    }
    .nav .dropdown-menu li a:hover, .nav .megamenu li a {
        background-position: 0px 17px;
        padding: 10px 10px 10px 15px;
    }
    .nav .dropdown-menu ul:last-child li:last-child a {
        border-bottom: none;
    }
    .nav>li>.dropdown-menu {
        margin-bottom: 15px !important;
    }
    .nav li ul ul {
        margin: 0;
        left: 0;
        top: 0;
        width: 100%;
        border-top: 1px solid #fff;
    }
    .nav li.open ul.dropdown-menu {
        display: block !important;
    }
    .nav li.dropdown .dropdown-menu {
        position: relative;
        padding: 2px 0 2px 20px;
        margin: 0;
        width:100%;
    }
    .nav li.dropdown .dropdown-menu a {
        padding: 5px 20px;
        background-position: -10px 12px;
    }
    .nav li.dropdown .dropdown-menu a:hover {
        background-position: 5px 12px;
    }
    .nav .megamenu {
        width: 100%;
    }
    .nav .megamenu .megamenu-add {
        padding-top: 15px;
    }
    .bs-docs-nav .navbar-nav > .active > a, .bs-docs-nav .navbar-nav > .active > a:hover {
        background-color: rgb(70, 50, 101);
        color: rgb(255, 255, 255);
    }
    .sb-search.sb-search-open, .no-js .sb-search {
        width: 80%;
    }
    .nav .megamenu li {
        margin-top: 0;
    }
    .nav-bg-blue .nav > li {
        margin-left: 0;
    }
    .nav-bg-blue .nav .dropdown-menu {
        left: 0;
    }
    .nav-bg-blue .nav .dropdown-menu li a {
        border-color: #e2e2e2;
    }
    /* logo */
    .logo {
        position: relative;
        width: 100%;
        text-align: center;
    }
    /*cel */
    .header_bottom h3 {
        width: 100%;
        text-align: center;
    }
    /*bottom nav */
    .bottomnav {
        float: left;
        width: 100%;
        text-align: center;
    }
    .bottomnav li {
        float: none;
        text-align: center;
    }
    .bottomnav li a {
        display: block;
    }
    .contact-info p {
        margin-right: 20px;
    }
    .contact-info p:last-child {
        margin-right: 0;
    }

    .seq .seq-next, .seq .seq-prev{        
        width: 25px;        
        height: 44px;
    }
    .nav-shadow{
        padding-bottom: 0;
        /* margin-top: 5px; */
    }
    .nav-bg{

    }
    .header_bottom{
        margin-bottom: 5px;
        padding: 5px 0 0px;
    }
    #footer1>ul {
        margin-top: 0;
        /* margin-bottom: 60px; */
    }
    .footer li {
        padding: 2px 15px;        
    }
    .box-linefooter{
        display: block;
    }
    #footer2, #footer4{
        border-left: none;
    }
    #footer4 .redes-footer{
        display: none;
    }
    #box-redes{
        display: block;
    }
    #box-redes li{
        padding: 0;
    }
    .footer-info {
        padding-bottom: 30px;
    }
    /* NOSOTROS*/   
    #box-historiaMax{
        display: none;
    }
    #box-historiaMin{
        display: block;
    }
    #box-partepaezMax{
        display: none;
    }
    #box-partepaezMin{
        display: block;
        padding-top: 20px;
    }
    .box-historia p.paezTitle{
        padding-bottom: 15px;
    }
    .box-historia p.paezTitle>img{
        width: 160px;
    }
    .box-historia p.pTitle{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 3px;
        padding: 14px 0;
    }
    .box-partepaez .pTitle{
        font-size: 18px !important;
    }
    .box-partepaez .pTexto{
        font-size: 12px !important;
        line-height: 16px !important;
    }
    .box-partepaez .button-parte{
        font-size: 12px;
        padding: 6px 13px;
        margin: 20px 0;
    }
    #updateDatos{
        width: 90%;
        left: 5%;
        z-index: 999;
    }
    #updateDatos label {
        font-size: 12px;
        text-align: left;
    }
    #updateDatos input{
        font-size: 12px;
        padding: 4px 6px;
    }
    .box-uploadfile{
        font-size: 12px;
        padding: 6px 7px;
    }
    #button-postular{
        margin: 0 auto;   
    }
}

@media (max-width: 640px) {
    #tabnav ul li a {
        display: block;
        font-size: 17px;
        padding: 12px 14px;
    }
    .banner .caption h3 {
        font-size: 24px;
    }
    .banner .caption p {
        font-size: 12px;
    }
    .nav-shadow {
        padding-bottom: 16px;
    }
}

@media (max-width: 480px) {
    .nav-shadow {
        padding-bottom: 14px;
        margin-bottom: -14px;
    }
    .preview-thum {
        width: 25%;
    }
    .preview-thum .caroufredsel_wrapper {
        min-height: 380px !important;
    }
    .product-view2 {
        width: 70%;
    }
    #tabnav ul {
        text-align: center;
    }
    #tabnav ul li {
        float: none;
        display: block;
        border: none;
        border-top: 1px solid #ddd;
    }
    #writeReviews td, #writeReviews th {
        padding: 10px;
    }
    .error_nf {
        font-size: 24px;
    }
    .errorpage p {
        font-size: 12px;
    }
    .banner .caption h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .banner .caption p {
        font-size: 12px;
        line-height: 16px;
    }
    .products_list .item-image {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
        background: #f5f5f5;
    }
    .products_list .item-description {
        width: 100%;
    }
    #tabnav ul li a {
        font-size: 14px;
        padding: 12px 7.4px;
    }
    .pager p {
        width: 100%;
        text-align: center;
    }
    .pager ul {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }
    .pager ul li {
        float: none;
        margin-left: 2px;
    }
    #back_top {
        left: 20px;
        bottom: 20px;
    }
    .coment-childreen {
        padding-left:20px;}
    .coments-reply label {
        padding-top:15px !important;}
    .coments-reply .form-group {
        margin-bottom:0;}
    .coments-reply .btn {
        margin:10px 0 20px 0 !important;}
    .seq .seq-next, .seq .seq-prev{
        width: 20px;
        height: 35px;
    }
    .footer li {
        padding: 2px 14px;
        font-size: 11px;
    }
    #box-redes .redes-footer{
        margin-top: 60px;
        width: 140px;
    }
    #box-redes .redes-footer>li>a{
        width: 40px;
        height: 39px;
    }
    .red-social{
        margin-right: 0px;
    }
    .red-social li {
        margin: 5px 3px;
    }
    .red-social>li>input {
        margin-left: 7px;
        max-width: 140px;
    }
    .red-social>li>div {
        right: 15px;
        width: 25px;
        height: 25px;
    }
    /* NOSOTROS*/   
    #box-historiaMin {
        padding: 20px 15px;
        margin-bottom: 15px;
    }
    .box-historia p.paezTitle{
        padding-bottom: 10px;
    }
    .box-historia p.paezTitle>img{
        width: 150px;
    }
    .box-historia p.pTitle{
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        padding: 6px 0;
    }
    .box-historia p.pTexto{
        font-size: 12px;}
}

@media (max-width: 384px) {
    p {
        font-size: 12px;
    }
    .header_top p {
        font-size: 10px;
    }
    .header_bottom h3 {
        font-size: 20px !important;
        padding: 10px 0 5px 0;
    }
    .header_bottom h3 small {
        font-size: 16px !important;
    }
    .bottomnav {
        text-align: center;
        margin-top: -10px;
    }
    .bottomnav > li {
        margin: 0;
        line-height: 15px;
    }
    .bottomnav > li a {
        padding: 5px;
        font-size: 11px;
    }
    .topnav {
        padding-bottom: 10px;
    }
    .topnav li {
        padding: 5px 0
    }
    .nav-shadow {
        margin-bottom: -9px;
        padding-bottom: 9px;
    }

}

@media (max-width: 320px) {
    /*Brand Logo scroll */
    .nav-shadow {
        margin-bottom: -8px;
        padding-bottom: 8px;
    }
    #brandlogo li {
        padding-top: 0;
    }
    .show-compare, .display-mode, .limiter {
        font-size: 10px;
    }
    .pager ul li a {
        min-width: 25px;
    }
    .currency ul, .language ul {
        min-width: 110px;
    }
    .details3 .share {
        float: none;
        display: inline-block;
        margin-top: 10px;
    }
}

@media (max-width: 240px) {
    .header_bottom h3 small {
        font-size: 14px;
    }
    .header_bottom h3 {
        font-size: 16px;
    }
    .header_top p {
        font-size: 12px;
    }
    .bottomnav {
        margin-top: -20px;
    }
    .bottomnav > li:last-child {
        margin: 5px 0 0;
    }
    .bottomnav > li > a {
        padding: 5px 10px;
    }
    .slider-pagin {
        left: 12%;
    }
    #sequence .sltitle {
        bottom: 22%;
    }
    .title {
        font-size: 18px;
    }
    .control {
        top: 29px;
    }


}

