body {
    font-family: Century Gothic;
    line-height: 1;
    background: #f5f5f5;
    color: #2f2f2f;
    -webkit-font-kerning: auto;
    -webkit-font-smoothing: antialiased;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Changable Global Styles
    -------------------------------------------------- */
*::-moz-selection {
    color: #00aeef;
}
*::-moz-placeholder {
    color:#c2c1c1;
}
h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-weight: 300;
}
h1 {
    font-size: 42px;
}
h2 {
    font-size: 36px;
}
h3 {
    font-size: 25px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 18px;
}
h6 {
    font-size: 14px;
}
p {
    font-size: 14px;
    font-weight: 300;
    margin: 0 0 10px 0;
    line-height: 18px;
}
a {
    color: #2f2f2f;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
}
a:focus {
    outline: medium none;
    outline-offset: 0;
}
a:hover, a:focus {
    text-decoration: none;
    color: #0092ff;
}
ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
ul:after {
    clear: both;
    content: "";
    display: block;
}
li {
    font-weight: normal;
    line-height: 20px;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
}
img {
    max-width: 100%;
}
strong {
    font-weight: 700;
}
/* color */
.blue {
    color: #3E3E3A;
}
.skblue {
    color: #87c8ff;
}
.light-gray {
    color: #e2e2e2;
}
.gray {
    color: #999999;
}
.red {
    color: #F00;
}
.green {
    color: #349835;
}
.magenta {
    color: #ff26cf;
}
.dkpurple {
    color: #9966cb;
}
.lipurple {
    color: #cc33ff;
}
.yellow {
    color: #ffff33;
}
.orange {
    color: #fe9901;
}
.bg_white {
    background: #fff;
}
.bg_black {
    background: #000;
}
.bg_gray {
    background: #999999;
}
.bg_red {
    background: #fe0000;
}
.bg_yellow {
    background: #ffff33;
}
.bg_blue {
    background: #269bff;
}
.bg_skblue {
    background: #87c8ff;
}
.bg_dkpurple {
    background: #9966cb;
}
.bg_lipurple {
    background: #cc33ff;
}
.bg_green {
    background: #349835;
}
.bg_orange {
    background: #fe9901;
}
.bg_magenta {
    background: #ff26cf;
}
.bg_chocolate {
    background: #53250b;
}
.white {
    color: #fff;
}
.white-bg {
    /* background-color: #fff; */
}
/*~~ text align style ~~*/
.center-text {
    text-align: center;
}
.left-text {
    text-align: left;
}
.right-text {
    text-align: right;
}
.justify-text {
    text-align: justify;
}
/* leftbar & right float */
.leftbar {
    float: left !important;
}
.rightbar {
    float: right !important;
}
/*~~ position ~~*/
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fulwid {
    width: 100%;
    position: relative;
}
/* pading */
.pad20_0 {
    padding: 20px 0;
}
.pad30_15 {
    padding: 30px 15px;
}
.pad-bottom15 {
    padding-bottom: 30px;
}
.pad-bottom30 {
    padding-bottom: 30px;
}
/*Transition Animation*/ 
a, button, .products, .name, .price, .overly, .linkdetail, .veiwphoto, .overlyprice, .overlyrating, .fa, .products_list .item-image img, input, select, .jqTransformSelectWrapper, .fancybox-nav span, .nav-bg-blue .sb-icon-search {
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -ms-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);/* linear */
}
/* Form Element */
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"] {
    background: #fff;
    padding: 8px 10px;
    border: 1px solid #e2e2e2;
    font-size: 14px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
input[type="text"]:focus {
    border-color: #2cc6ff;
}
/* button */
.button, button {
    /* background: #fff; */
    padding: 10px 15px;
    border: 1px solid #e2e2e2;
    font-size: 16px;
    /* border-radius: 3px; */
    -webkit-border-radius: 3px;
}
.button:hover, button:hover {
   /* color: #fff;
    background: #007edb;
    border-color: #2cc6ff;
    border-radius: 20px;
    -webkit-border-radius: 20px;*/
}

/* border button */
.button.bordered-bot, button.bordered-bot, input.bordered-bot[type="submit"], input.bordered-bot[type="reset"], input.bordered-bot[type="button"] {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    border: 1px solid #999;
    color: #999;
    padding: 6px 12px;
}
.button.green.bordered-bot, button.green.bordered-bot, input.green.bordered-bot[type="submit"], input.green.bordered-bot[type="reset"], input.green.bordered-bot[type="button"] {
    border-color: #349835;
    color: #349835;
}
.button.blue.bordered-bot, button.blue.bordered-bot, input.blue.bordered-bot[type="submit"], input.blue.bordered-bot[type="reset"], input.blue.bordered-bot[type="button"] {
    border-color: #0095da;
    color: #0095da;
}
.button.red.bordered-bot, button.red.bordered-bot, input.red.bordered-bot[type="submit"], input.red.bordered-bot[type="reset"], input.red.bordered-bot[type="button"] {
    border-color: #f00;
    color: #F00;
}
.button.cherry.bordered-bot, button.cherry.bordered-bot, input.cherry.bordered-bot[type="submit"], input.cherry.bordered-bot[type="reset"], input.cherry.bordered-bot[type="button"] {
    border-color: #93516a;
    color: #93516a;
}
.button.orchid.bordered-bot, button.orchid.bordered-bot, input.orchid.bordered-bot[type="submit"], input.orchid.bordered-bot[type="reset"], input.orchid.bordered-bot[type="button"] {
    border-color: rgb(150, 97, 171);
    color: rgb(150, 97, 171);
}
.button.pink.bordered-bot, button.pink.bordered-bot, input.pink.bordered-bot[type="submit"], input.pink.bordered-bot[type="reset"], input.pink.bordered-bot[type="button"] {
    border-color: rgb(230, 72, 131);
    color: rgb(230, 72, 131);
}
.button.orange.bordered-bot, button.orange.bordered-bot, input.orange.bordered-bot[type="submit"], input.orange.bordered-bot[type="reset"], input.orange.bordered-bot[type="button"] {
    border-color: rgb(249, 136, 5);
    color: rgb(249, 136, 5);
}
.button.teal.bordered-bot, button.teal.bordered-bot, input.teal.bordered-bot[type="submit"], input.teal.bordered-bot[type="reset"], input.teal.bordered-bot[type="button"] {
    border-color: rgb(31, 167, 158);
    color: rgb(31, 167, 158);
}
.button.skyblue.bordered-bot, button.skyblue.bordered-bot, input.skyblue.bordered-bot[type="submit"], input.skyblue.bordered-bot[type="reset"], input.skyblue.bordered-bot[type="button"] {
    border-color: rgb(3, 172, 220);
    color: rgb(3, 172, 220);
}
.button.jade.bordered-bot, button.jade.bordered-bot, input.jade.bordered-bot[type="submit"], input.jade.bordered-bot[type="reset"], input.jade.bordered-bot[type="button"] {
    border-color: rgb(10, 173, 128);
    color: rgb(10, 173, 128);
}
/* End of global estyle
-------------------------------------------------- */

/* customizable Style */
.wrapper {
    position: relative;
    width: 100%;
    max-width: 1366px;
    background-color: #fff;
}
.boxwrap {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 100%;
    max-width: 1366px;
    /* background-color: #f5f5f5; */
}
.header, .footer, container_fullwidth {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}
/* HEADER STYLE */
.header {/* Old browsers *//* FF3.6+ */
    /* margin-bottom: 15px; */
    background-color: #f5f5f5;
    /* background: 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -webkit-gradient(linear, left top, right top, color-stop(0%,#e7e7e6), color-stop(100%,#d2d2d0)); *//* Chrome,Safari4+ */
    /* background: 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -webkit-linear-gradient(left,  #e7e7e6 0%,#d2d2d0 100%); *//* Chrome10+,Safari5.1+ */
    background: 





































        
    
    
    
    
    
    
    
    
    
    -o-linear-gradient(left,  #e7e7e6 0%,#d2d2d0 100%);/* Opera 11.10+ */
    background: 





































        
    
    
    
    
    
    
    
    
    
    -ms-linear-gradient(left,  #e7e7e6 0%,#d2d2d0 100%);/* IE10+ */
    /* background: linear-gradient(to right,  #e7e7e6 0%,#d2d2d0 100%); *//* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7e6', endColorstr='#d2d2d0',GradientType=1 );/* IE6-9 */
}
.header_top {
    position: relative;
    margin: 0 auto;
    border-top: 5px solid #474074;
    background: url(../images/white_transparent20.png) left top repeat;
    color: #fff;
}
.header_top p {
    padding: 10px 0;
    margin: 0;
}
.header_top p a {
    color: #000;
    padding: 0 5px;
}
.header_top p a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3px 5px 5px;
    border-radius: 2px;
}
.topnav {
    float: right;
    display: inline-block;
}
.topnav li {
    float: left;
    margin-left: 10px;
    display: inline-block;
    padding: 10px 0;
}
.topnav li a {
    color: #fff;
}
.topnav li a:hover, .topnav li a.active {
    color: #000;
}
.topnav li a i {
    margin-right: 3px;
}
.header_bottom {
    position: relative;
    padding: 5px 0 0px;
    color: #fff;
    margin-bottom: 5px;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbdbda+0,c6c6c3+100 */
    background: #dbdbda;/* Old browsers */
    background: 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -moz-linear-gradient(left,  #dbdbda 0%, #c6c6c3 100%);/* FF3.6-15 */
    background: 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -webkit-linear-gradient(left,  #dbdbda 0%,#c6c6c3 100%);/* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #dbdbda 0%,#c6c6c3 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbda', endColorstr='#c6c6c3',GradientType=1 );/* IE6-9 */
}
.header_bottom h3 {
    text-align: right;
    color: #fff;
    margin-bottom: 10px;
}
.header_bottom h3 small {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}
.bottomnav {
    float: right;
}
.bottomnav li {
    float: left;
    display: inline-block;
    margin-left: 10px;
    position: relative;
}
.bottomnav i {
    margin-right: 5px;
}
.bottomnav li a {
    display: block;
    color: #fff;
    font-size: 14px;
    text-align: left;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}
.bottomnav li ul {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 100;
}
.currency ul, .language ul {
    min-width: 120px;
}
.currency ul li, .language ul li {
    margin: 0;
    display: list-item;
    float: left;
    width: 100%;
}
.currency ul li a, .language ul li a {
    display: block;
    padding: 0 10px 10px 10px;
    background-color: rgba(0, 5, 18, 0.8);
}
.currency ul li a:hover, .language ul li a:hover {
    background-color: rgba(0, 5, 18, 0.5);
    color: #0092ff;
}
.currency ul li:first-child a, .language ul li:first-child a {
    padding-top: 10px;
}
.cart ul {
    width: 270px;
    padding: 10px;
    background-color: rgba(0, 5, 18, 0.8);
}
.cart ul:after, .cart ul:before, .currency ul:after, .language ul:after, .currency ul:before, .language ul:before {
    bottom: 100%;
    left: 80%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.cart ul:after, .currency ul:after, .language ul:after {
    border-color: rgba(0, 5, 18, 0);
    border-bottom-color: #000512;
    border-width: 6px;
    margin-left: -6px;
}
.cart ul:before, .currency ul:before, .language ul:before {
    border-color: rgba(0, 5, 18, 0);
    border-bottom-color: #000512;
    border-width: 8px;
    margin-left: -8px;
}
.cart ul li {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
    padding: 0;
}
.cart ul li:first-child, .cart ul li:first-child p {
    margin: 0;
}
.car-item {
    float: left;
    width: 100%;
    position: relative;
}
.car-item .product-image {
    float: left;
    width: 35%;
}
.car-item .product-image img {
    background: #fff;
}
.car-item .product-details {
    float: left;
    margin-left: 5%;
    width: 45%;
}
.car-item .remove {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    background: none;
}
.car-item .remove:hover {
    color: #ff0000;
}
.cart .bottom {
    border-top: 1px solid #000;
    padding-top: 10px;
}
.cart .buttons {
    float: left;
    width: 35%;
}
.buttons .view-cart, .buttons .checkout {
    background: #000;
    font-size: 12px;
    color: #fff;
    border-radius: 3px;
    border: none;
    display: block;
    width: 100%;
    line-height: 36px;
    padding: 0;
}
.buttons .view-cart:hover, .buttons .checkout:hover {
    color: #0092ff;
}
.buttons .view-cart {
    margin-bottom: 5px;
}
.cart .subtotal {
    float: left;
    margin-left: 5%;
    width: 55%;
}
.cart .subtotal h5 {
    text-transform: uppercase;
    font-size: 16px;
    margin: 10px 0 15px;
    font-weight: bold;
}
/* menu style */
.nav-shadow {
    padding-bottom: 36px;
    /* position: relative; */
    margin-bottom: -36px;
    z-index: 1;
}
.nav-bg {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbdbda+0,c6c6c3+100 */
    padding-top: 10px;
    padding-bottom: 10px;
    /* background: #dbdbda; *//* Old browsers */
    background: 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -moz-linear-gradient(left,  #dbdbda 0%, #c6c6c3 100%);/* FF3.6-15 */
    /* background: 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -webkit-linear-gradient(left,  #dbdbda 0%,#c6c6c3 100%); *//* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to right,  #dbdbda 0%,#c6c6c3 100%); *//* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbda', endColorstr='#c6c6c3',GradientType=1 );/* IE6-9 */
}
.nav-wrap {
    position: relative;
}
.nav {
    float: left;
}
.nav li {
    float: left;
    display: inline-block;
}
.nav li a {
    padding: 10px 45px;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    font-family: Century Gothic;
    /* letter-spacing: 1px; */
}
.nav li a:hover, .nav li.active a {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.8);
}
.nav > li > a:hover, .nav > li:hover > a, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.8);
}
/*dropdown menu style */
.nav .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.85);
    margin: 0;
    /* background-color: #CE7F73; */
    padding: 0;
    /* border: 1px solid #000; */
    border-top: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    z-index: initial;
}
.nav .dropdown-menu li {
    width: 100%;
    position: relative;
}
.nav .dropdown-menu li a {
    padding: 7px 5px;
    margin: 0 10px;
    color: #777;
    font-size: 13px;
    font-weight: 300;
    background: url(../images/dot.png) -8px 12px no-repeat;
    /* background-color: white; */
    border-bottom: 1px solid black;
}
.nav .dropdown-menu li a:hover, .nav .dropdown-menu>li:hover>a {
    background-position: 10px 12px;
    padding: 7px 0px 7px 10px;
    color:black;
}
.nav li ul ul {
    left: 100%;
    top: 0;
}
/*Megamenu */
.nav .megamenu {
    width: 625px;
    padding: 15px;
}
.nav .megamenu li:first-child {
    margin: 0;
}
.nav .megamenu li {
    margin-top: 5px;
    line-height: 23px;
}
.nav .megamenu li a, .nav .megamenu li a:hover {
    padding: 5px 15px;
    background-position: 0 12px;
}
/*Home 2 page style */
.nav-bg-blue {
    background-color: #037cd8;
}
.nav-bg-blue .nav>li {
    margin-left: 1px;
}
.nav-bg-blue .nav>li:first-child {
    margin-left: 0;
}
.nav-bg-blue .nav li a:hover, .nav-bg-blue .nav li.active a {
    color: #0092ff;
    background-color: #fff;
}
.nav-bg-blue .nav > li > a:hover, .nav-bg-blue .nav > li > a:focus, .nav-bg-blue .nav > li:hover > a, .nav-bg-blue .nav li.open > a, .nav-bg-blue .nav li.open > a:hover, .nav-bg-blue .nav li.open > a:focus {
    color: #0092ff;
    background-color: #fff;
}
.nav-bg-blue .nav>li>.dropdown-menu {
    margin-left: -1px;
}
.nav-bg-blue .nav .dropdown-menu {
    background-color: #fff;
    color: #2f2f2f;
    border-color: #f1f1f1;
}
.nav-bg-blue .nav li ul.dropdown-menu {
    border-top: 1px solid rgba(0, 146, 255, 1);
}
.nav-bg-blue .nav .dropdown-menu li a {
    color: #2f2f2f;
}
.nav-bg-blue .nav .dropdown-menu li a:hover, .nav-bg-blue .nav .dropdown-menu>li:hover>a {
    color: #0092ff;
    background-color: #f1f1f1;
}
.nav-bg-blue .sb-icon-search {
    background-color: #0283e4;
}
.nav-bg-blue .sb-search.sb-search-open .sb-icon-search, .nav-bg-blue .no-js .sb-search .sb-icon-search {
    background-color: #0092ff;
}
/* Search Bar */
.sb-search {
    position: absolute;
    right: 15px;
    top: 0;
    margin: 5px 0;
    width: 0%;
    min-width: 50px;
    height: 50px;
    float: right;
    overflow: hidden;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
    -webkit-backface-visibility: hidden;
    background: #4d086b;
}
.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    background: #fff;
    width: 100%;
    height: 50px;
    margin: 0;
    z-index: 10;
    padding: 13px 60px 13px 13px;
    font-family: inherit;
    font-size: 18px;
    color: #2c3e50;
    border: 2px solid #4d086b;
}
.sb-search-input::-webkit-input-placeholder {
    color: #685772;
}
.sb-search-input:-moz-placeholder {
    color: #685772;
}
.sb-search-input::-moz-placeholder {
    color: #685772;
}
.sb-search-input:-ms-input-placeholder {
    color: #685772;
}
.sb-icon-search, .sb-search-submit {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}
.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}
.sb-icon-search {
    color: #fff;
    background: #4d086b;
    z-index: 90;
    font-size: 22px;
    font-family: FontAwesome;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
.sb-icon-search:before {
    content: "\f002"
}
/* Open state */
.sb-search.sb-search-open, .no-js .sb-search {
    width: 50%;
}
.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
    background: #4d086b;
    color: #fff;
    z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit, .no-js .sb-search .sb-search-submit {
    z-index: 90;
}
/*~~~~~~~~~~~ HOME SLIDER ~~~~~~~~~*/
.hom-slider {
    max-height: 550px;
    /* padding-top: 20px; *//* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dbdbda+0,c6c6c3+100 */
    background: #dbdbda;/* Old browsers */
    background: 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -moz-linear-gradient(left,  #dbdbda 0%, #c6c6c3 100%);/* FF3.6-15 */
    background: 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    -webkit-linear-gradient(left,  #dbdbda 0%,#c6c6c3 100%);/* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #dbdbda 0%,#c6c6c3 100%);/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dbdbda', endColorstr='#c6c6c3',GradientType=1 );/* IE6-9 */
}
.fulwide {
    position: relative;
    width: 100%;
    max-height: 400px;
    overflow: hidden;
}
/*```````````` HEADER SECTION CLOSE ```````````````````*/


.thumbnail {
    position: relative;
    width: 100%;
    margin: 10px 0;
    left: 0;
    top: 0;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    z-index: 1;
    -webkit-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -moz-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -ms-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    -o-transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750);
    transition: all 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}


.separator {
    padding: 0 5px;
}

.page-index {
	position: relative;
	padding: 30px 0;
}
.page-index ul {
	position: relative;
	float: left;
	margin-left: 15px;
}
.page-index ul li {
	float: left;
	background: url(../images/slash.png) left center no-repeat;
	padding: 0 10px 0 0px;
}
.page-index ul li:first-child {
	padding-left: 0;
	background: none;
}
.page-index ul li a {
	font-size: 14px;
	font-weight: bold;
	color: #777;
}
.page-index ul li a:hover {
	color: #000;
}
.page-index strong {
	font-weight: 500;
}
.promo-box{
    
margin-bottom: 15px;
    
cursor: pointer;
}
/*!~~~~FOOTER STYLE~~~~*/
.footer {
    width: 100%;
    background: #302E34;
}
.footer-info {
    position: relative;
    padding: 70px 0;
}
.footer-info .title {
    border-color: #000512;
    margin-bottom: 30px;
}
.footer-info .title strong {
    color: #fff;
    border-color: #0092ff;
}
.footer-menu {
    position: relative;
}
.footer-menu li {
    display: list-item;
    margin-bottom: 15px;
}
.footer-menu li a {
    color: #fff;
    background: url(../images/arow-footer.png) left 3px no-repeat;
    padding-left: 15px;
}
.footer-menu li a:hover {
    color: #0092ff;
    background: url(../images/arow-footerh.png) left 3px no-repeat;
}
.contact-info p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    float: left;
}
.footer-info .fa {
    background: #0092ff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 0;
    font-size: 18px;
    color: #044f68;
    margin-right: 5px;
    float: left;
    width: 30px;
    text-align: center;
}


/* BANNER */
.banner {
    position: relative;
    clear: both;
    overflow: hidden;
    background: #f5f3f3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-top: 15px;
}
.banner li {
    position: relative;
}
.banner .caption {
    position: absolute;
    left: 0;
    top: 0;
    float: left;
    width: 50%;
    margin: 50px 0 0 50px;
}
.banner .caption h3 {
    margin-bottom: 20px;
    font-weight: bold;
}

/** tab style **/
.tab-box {
    position: relative;
    min-height: 250px;
    width: 100%;
    float: left;
    margin-top: 15px;
}
/* NAVIGATION */

#tabnav {
    float: left;
    width: 100%;
    overflow: hidden;
    background: #ebebeb;
    border-bottom: 2px solid #006fc2;
    margin-bottom: 10px;
}
#tabnav ul {
    position: relative;
}
#tabnav ul li {
    float: left;
    display: inline-block;
    border-right: 1px solid #d7d7d7;
}
#tabnav ul li:first-child {
    border-left: none;
}
#tabnav ul li:last-child {
    border-right: none;
}
#tabnav ul li a {
    display: block;
    padding: 15px 20px;
    font-size: 18px;
}
#tabnav ul li a:hover, #tabnav ul li.active a {
    background: #0092ff;
    color: #fff;
}
.tabColum_2 #tabnav ul li a {
    padding: 15px 17px;
}
.tabColum_2 {
    margin-top: 30px;
}

/*Contact us page */
.map {
    float: left;
    width: 100%;
    padding: 5px;
    -webkit-box-shadow: 0 0 1px 1px #e1e1e1;
    box-shadow: 0 0 1px 1px #e1e1e1;
    margin-bottom: 30px;
    margin-top: 15px;
}
.map iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
.information {
    position: relative;
    padding-top: 20px;
}
.information strong {
    font-weight: 700;
}
.contact-form {
    position: relative;
    padding-bottom: 15px;
}
.contact-form label {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}
.contact-form input[type="text"], .contact-form input[type="email"], .contact-form textarea, .input-search {
    width: 100%;
    padding: 7px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    min-height: 35px;
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
    resize: none;
}
.contact-form input[type="button"] {
    border: 1px solid #e1e1e1;
    background: #f8f8f8;
    padding: 5px 15px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    min-height: 30px;
    font-size: 18px;
}
.contact-form input[type="submit"]:hover {
    background: #0092ff;
    border-color: #0092ff;
    color: #fff;
}
.mailFromDiv {
    float: left;
    width: 100%;
    position: relative;
    /* overflow: hidden; */
}
.error {
    display: none;
    text-align: right;
    position: absolute;
    margin-top: -11px;
    right: 5px;
}
.error p {
    margin-bottom: 2px;
    color: #F00;
    font-size: 12px;
}
.mailSuccessDiv {
    display: none;
    clear: both;
}
.er {
    border: 1px solid #F00 !important;
}

.box {
    float: left;
    width: 100%;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px 0;
}
.box h5 {
    margin-bottom: 15px;
}

/*error page style */

.errorpage {
    float: left;
    width: 100%;
    text-align: center;
    padding: 60px 0 30px 0;
}
.error_nf {
    font-size: 52px;
    line-height: 52px;
    color: #2f2f2f;
    font-weight: 600;
    text-align: center;
}
.errorpage img {
    max-width: 50%;
}
.errorpage p {
    font-size: 18px;
    color: #454545;
    line-height: 20px;
    padding: 10px 0 20px 0;
}
.errorpage input[type="text"] {
    border-radius: 0;
    -webkit-border-radius: 0;
    width: 320px;
    height: 50px;
    padding: 10px 10px;
}
.errorpage .button {
    border-radius: 0;
    -webkit-border-radius: 0;
    margin-left: -1px;
    height: 50px;
    font-size: 18px;
    color: #8a8a8a;
    font-weight: 700;
    padding: 5px 20px;
}
.errorpage .button:hover {
    color: #fff;
}
/*typography page */
.typography {
}
.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography p {
    margin-bottom: 15px;
}
.list-faq {
    margin-top: 10px;
}
.list-faq li {
    display: list-item;
    margin-bottom: 10px;
}
.list-faq li ul {
    margin-top: 10px;
    display: inline-block;
    margin-left: 35px;
}
.list-faq li ul li {
    padding: 5px 0;
    border-bottom: 1px solid #e1e1e1;
}
.list-faq li ul li:last-child {
    border: none;
    margin-bottom: 0;
}
.ques {
    float: left;
    color: red;
    border: 1px solid;
    padding: 0 5px 4px;
    margin-right: 7px
}
.ans {
    color: green;
    border: 1px solid;
    padding: 1px 5px;
    margin-right: 10px;
    font-weight: 700;
    float: left;
}
.ol-default {
    padding-left: 15px;
    position: relative;
}
.ol-default li {
    display: list-item;
    list-style: decimal outside;
    margin-bottom: 5px;
    font-size: 18px;
}
.ol-default ol {
    margin: 5px 0 15px 20px;
}
.ol-default ol li {
    font-size: 14px;
}
.ul-default {
    position: relative;
    padding-left: 15px;
}
.ul-default li {
    display: list-item;
    list-style: disc outside;
    margin-bottom: 5px;
    font-size: 18px;
}
.ul-default ul {
    margin: 5px 0 15px 20px;
}
.ul-default ul li {
    font-size: 14px;
}
/*alert */
.alert_close {
    float: right;
    color: rgba(0,0,0,.5)
}
.alert .alert_close i {
    margin: 0;
}
.alert i {
    float: left;
    margin-right: 10px;
}
.alert p {
    display: block;
    padding: 0 20px;
}


/*! responsive style ==================
-------------------------------------------------!*/

